 *{
     margin: 0;
     padding: 0;
 }
.dm-header-wrap{
    width: 100%;
    height: 72px;
    box-shadow: 0 2px 16px 0 rgba(220, 220, 220, 5);
}
.dm-header-box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 0;
}
.dm-header-box .i-logo{
    width: 92px;
    height: auto;
    margin-top: 15px;
    float: left;
    margin-left: -200px;
}
.dm-header-box .location-header{
    display: block;
    height: 100%;
    float: left;
    position: relative;
    
    line-height: 72px;
    white-space: nowrap;
    cursor: pointer;
}
.dm-header-box  .location-header  .i-icon-location{
   width: 16px;
   display: inline-block;
   vertical-align: middle;
}
.dm-header-box .location-header .city-location{
     max-width: 60px;
     font-size: 20px;
     color: #2d2d2d;
     display: inline-block;
     vertical-align: middle;
     margin-left: 5px;
     margin-right: 5px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
.dm-header-box .location-header .i-arrow-location{
     width: 9px;
     display: inline-block;
     vertical-align: middle;
}
.dm-header-box .location-header .city-header{
    width: 626px;
    height: 200px;
    z-index: 999;
    position: relative;
    left: -115px;
    top: 0;
    margin-top: 60px;
    background: #fff;
    border: 1px solid #f4f4f4;
    box-shadow: 0 2px 8px 0 rgba(0, 0,0, .05);
    border-radius: 2px;
    padding: 21px;
}
.dm-header-box .location-header .now-city{
   line-height: 25px;
}
.dm-header-box .location-header .title-city{
   width: 86px;
   float: left;
   display: inline-block;
   margin-right: 15px;
   vertical-align: top;
   font-size: 16px;
   color: #111;
   letter-spacing: .56px;
  
}
.dm-header-box .location-header .city-header .now-city .select-city {
    color: red;
    background-color: #ededed;
    padding: 0 10px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    font-size: 16px;
    line-height: 25px;
    white-space: nowrap;
    cursor: pointer;

    letter-spacing: .56px;
    float: left;
}
.dm-header-box .location-header .city-header .hot-city {
   line-height: 25px;
   margin-top: 40px;
}
.dm-header-box .location-header .city-header .title-city{
    width: 86px;
}

    .dm-header-box .location-header .city-header .list-other {
        width: 525px;
        display: inline-block;
        line-height: 29px;
        margin-top: -3px;
    }

.dm-header-box .location-header .city-header .name-city{
    display:flex;
    justify-content: space-between;
    margin-right: 15px;
    vertical-align: top;
    font-size: 16px;
    color: #111;
    letter-spacing: .56px;
    float: left;
    line-height: 29px;
}
.dm-header-box .location-header .city-header .other-city{
    line-height: 25px;
    padding-top:15px ;
    border-top: 1px solid #ededed;
    margin-top: 15px;
}
.dm-header-box .recommend-header{
    max-width: 220px;
    height: 100%;
    float: left;
    margin-right: -20px;
    margin-left: 40px;
    line-height: 72px;
    overflow: hidden;
}
.dm-header-box .recommend-header .select {
    color: #FF1268;
}
.dm-header-box .recommend-header .type-recommend {
    display: inline-block;
    font-size: 16px;
    color: #000;
    margin-right: 18px;
    overflow: hidden;
}
.dm-header-box a{
    cursor: pointer;
}
.dm-header-box .right-header .box-header {
    height: 100%;
    display: inline-block;
    line-height: 72px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}
.dm-header-box .right-header .box-header .i-box-header {
    width: 26px;
    z-index: 20000;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
.dm-header-box .right-header .user-header .i-user {
    border-radius: 13px;
}
.dm-header-box .right-header .user-header .name-user {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dm-header-box .right-header .user-header .show {
    display: inline-block;
}
.dm-header-box .right-header .box-header .span-box-header {
    display: inline-block;
    vertical-align: middle;
    color: #111;
    cursor: pointer;
    font-size: 16px;
}
.dm-header-box .right-header .user-header .list-wrap {
    width: 133px;
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -67px;
    top: 50px;
    z-index: 999;
}
.dm-header-box .right-header .user-header .list-login {
    width: 100%;
    position: relative;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
    border-radius: 2px;
}
.dm-header-box .right-header .user-header .list-login .li-login {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 14px;
    color: #111;
    letter-spacing: .54px;
    text-align: center;
    border-bottom: 1px solid #F2F2F2;
}
.dm-header-box .right-header .user-header .list-login .li-login {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 14px;
    color: #111;
    letter-spacing: .54px;
    text-align: center;
    border-bottom: 1px solid #F2F2F2;
}
.dm-header-box .right-header .user-header .list-login .li-login {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 14px;
    color: #111;
    letter-spacing: .54px;
    display: none;
    text-align: center;
    border-bottom: 1px solid #F2F2F2;
}
.dm-header-box .right-header .box-header .i-box-header {
    width: 26px;
    z-index: 20000;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
.dm-header-box .right-header .box-header .span-box-header {
    display: inline-block;
    vertical-align: middle;
    color: #111;
    cursor: pointer;
    font-size: 16px;
}
.dm-header-box .right-header .download-header .ewm-download {
    width: 80px;
    height: 80px;
    display: none;
    position: absolute;
    top: 60px;
    left: -12px;
    z-index: 999;
    background: #fff;
    padding: 5px;
    box-shadow: 1px -1px 1px #ccc;
}
.dm-header-box .right-header .download-header .ewm-download .i-ewm {
    width: 100%;
}
.dm-header-box .right-header .box-header {
    height: 100%;
    display: inline-block;
    line-height: 72px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}
.dm-header-box .search-header {
    width: 401px;
    height: 46px;
    margin-top: -60px;
    margin-right: 300px;
    line-height: 46px;
    float: right;
    position: relative;
}
.dm-header-box .search-header .i-search {
    width: 17px;
    position: absolute;
    left: 22px;
    top: 15px;
    z-index: 11;
}


.dm-header-box .search-header .input-search {
    width: 253px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    font-size: 16px;
    background-color: transparent;
    outline: 0;
    -webkit-appearance: none;
    border: 0;
    padding: 0 10px 0 54px;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
    border-right-color: #FF1268;
    box-sizing: content-box;
}
.dm-header-box .search-header .btn-search {
    width: 82px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #FF1268;
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 0 27px 27px 0;
    z-index: 11;
    letter-spacing: 4px;
    cursor: pointer;
}
.dm-header-box .search-header .list-search-wrap {
    width: 402px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.dm-header-box .search-header .list-search {
    width: 374px;
    max-height: 296px;
    overflow: hidden;
    position: relative;
    left: 0;
    margin-top: 55px;
    z-index: 999;
    padding: 0 14px;
    background: #FFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
    border-radius: 4px;
}
a{
    text-decoration: none;
}